html, body {
    margin: 0;
    padding: 0;
    max-width: 750px;
    font-family: "Source Sans 3", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid lightgray;
}

.logo {
    width: 250px;
}

.avatar {
    width: 70px;
    border-radius: 50%;
}

.post-header{
    display: flex;
    padding: 15px 0 15px 20px;
    gap: 10px;
    align-items: center;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 24px;
}

.post-info p {
    margin: 2px 0;
}

.post-name {
    font-weight: bold;
    margin: 0;
}

.post-img {
    width: 100%;
}

.interact-bar {
    display: flex;
    padding: 30px 0 0 20px;
    gap: 22px;
}

.interact-bar img {
    width: 55px;
}

.interact-bar img:hover {
    opacity: 50%;
}

.like-count {
    font-weight: bold;
    font-size: 24px;
    padding: 0 0 0 25px;
}

.post-comment {
    font-size: 24px;
    padding: 0 0 0 25px;
}

.post-comment span {
    font-weight: bold;
}

